# Environment variables
.env

# Python
__pycache__/
*.pyc
.venv/

# Runtime
.runtime/

# Node
node_modules/
dist/

# Databases
*.db
*.db-shm
*.db-wal

# Uploaded files
storage/

# OS
.DS_Store

# Logs
*.log
